{% extends "base.html" %}
{% block title %}User Dashboard{% endblock %}
{% block content %}
<h1>User Dashboard</h1>
<p>Welcome {{ username }}! This is your dashboard.</p>
<p><b>Bio:</b> {{ current_user.bio }}</p>

<button id="greet-btn" class="btn btn-success" data-username="{{ username }}">Greet Me</button>

{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
 